<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" opened="false" class="sidenav">
    <mat-nav-list class="nav-list">
      <mat-list-item>
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <a
          [style.outline]="'none'"
          matLine
          (click)="sidenav.close()"
          routerLink="login"
          >Logout</a
        >
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
