<mat-toolbar color="primary">
  <button
    [@preventInitial]
    *ngIf="gAuth.isSignedIn"
    class="menu-toggle"
    mat-icon-button
    (click)="sidenav.toggle()"
  >
    <mat-icon [@spinInOut]="'in'" *ngIf="!sidenav.isOpen">menu</mat-icon>
    <mat-icon [@spinInOut]="'in'" *ngIf="sidenav.isOpen">close</mat-icon>
  </button>

  <img class="logo" src="assets/images/Mobiquity-Logo.png"  alt="logo"/>

  <sub><em>{{ appTitle }}</em></sub>

  <span fxFlex></span>

  <ng-container *ngIf="gAuth.isSignedIn">
    <span class="user-name">
      {{ gAuth.currentUser?.w3.U3 }}
    </span>

    <span [matMenuTriggerFor]="menu">
    <img
      class="avatar"
      width="30px"
      [src]="gAuth.currentUser?.w3.Paa || 'https://api.adorable.io/avatars/40/happy.png'">
  </span>
  </ng-container>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="login">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
