.grid-container {
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-form-field.dialog-picker {
  width: 96%;
}

.save-selection {
  padding: 0px 10px 10px 0px;
}

.save-selection-top {
  padding: 0px 0px 0px 20px
}
