<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
    <mat-card class="dashboard-card" [@flyInOut]="true">
      <mat-card-header>
        <mat-card-title>
           Choose a file to import
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="dashboard-card-content">
        <div>
          <mat-action-list *ngIf="files.length" dense>
            <button mat-list-item *ngFor="let file of files" (click)="importSheet(file.id)">
              <mat-icon mat-list-icon>insert_drive_file</mat-icon>
              {{ file.name }}
            </button>
          </mat-action-list>
        </div>
      </mat-card-content>
    </mat-card>
</div>
