<div class="grid-container">
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select
      [(value)]="selectedFileId"
      (selectionChange)="importSheet($event)"
    >
      <mat-option>None</mat-option>
      <mat-option [value]="file.id" *ngFor="let file of files">
        {{ file.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card [@flyInOut]="true" *ngIf="showRadar">
    <svg id="radar" />
  </mat-card>
</div>

<ng-template #sheetPickerDialog>
  <p>Select a sheet to import from Drive</p>
  <mat-form-field class="dialog-picker">
    <mat-label>Select an option</mat-label>
    <mat-select
      [(value)]="selectedFileId"
      (selectionChange)="importSheet($event)"
    >
      <mat-option>None</mat-option>
      <mat-option [value]="file.id" *ngFor="let file of files">
        {{ file.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <small>
      Don't see any Sheets?
      <a href="mailto:mdoye@mobiquityinc.com?subject=Tech Radar" mat-button>
        Request Access</a
      >
    </small>
  </mat-dialog-actions>
</ng-template>

<ng-template #errorDialog>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-icon class="error-icon" color="warn">error</mat-icon>
    <h3>There was an error, please try again</h3>
  </div>
  <mat-dialog-content>
    <div style="text-align: center;">
      <small>It is likely that there is a problem with the spreadsheet data. Please
        check the spreadsheet and try again. Or choose a new sheet</small>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
  >
    <button mat-flat-button color="accent" mat-dialog-close>close</button>
    <a mat-flat-button color="primary" href="/">Reload</a>
  </mat-dialog-actions>
</ng-template>
