<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" [@flyInOut]="true">
    <ngxtemplate-bar-chart [data]="chardata" cardTitle="Bar Chart"></ngxtemplate-bar-chart>
    <ngxtemplate-status-card [data]="chardata" cardTitle="Status Cards"></ngxtemplate-status-card>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [@flyInOut]="true">
    <ngxtemplate-advanced-pie-chart 
      [data]="chardata" 
      cardTitle="Advanced Pie Chart">
    </ngxtemplate-advanced-pie-chart>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" [@flyInOut]="true">
    <ngxtemplate-pie-chart [data]="chardata" cardTitle="Pie Chart"></ngxtemplate-pie-chart>
    <ngxtemplate-gauge-chart [data]="chardata" cardTitle="Gauge Chart"></ngxtemplate-gauge-chart>
  </div>
</div>