<mat-toolbar color="primary">

  <!-- Left -->
  <button mat-icon-button
    *ngIf="auth.user | async" 
    [@preventInitial] 
    class="menu-toggle"
    (click)="sidenav.toggle()">

      <mat-icon [@spinInOut]="'in'" *ngIf="!sidenav.isOpen">menu</mat-icon>
      <mat-icon [@spinInOut]="'in'" *ngIf="sidenav.isOpen">close</mat-icon>
  </button>

  <span>{{ appTitle }}</span>
  <span fxFlex></span>

  <!-- Right -->
  <span class="user-name">
    {{ (auth.user | async)?.displayName }}
  </span>

  <span *ngIf="auth.user | async">
    <img 
      class="avatar" 
      width="30px" 
      [src]="(auth.user | async)?.photoURL || 'https://api.adorable.io/avatars/40/happy.png'">
  </span> 

  <button mat-icon-button 
    *ngIf="auth.user | async"
    matTooltip="More" 
    [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
  </button>  
</mat-toolbar>

<!-- Menu -->
<mat-menu #menu="matMenu">    
  <button mat-menu-item routerLink="login">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item>
    <mat-slide-toggle 
      [checked]="theme.isDarkTheme"
      color="primary"
      (change)="theme.changeTheme()">
      Night Mode
    </mat-slide-toggle>
  </button>      
</mat-menu>