<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="login mat-elevation-z12">
    <mat-toolbar
      color="primary"
      class="login-header"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon>input</mat-icon>&nbsp;
      <h3>Authentication Required</h3>
    </mat-toolbar>
    <div class="auth-container" fxLayout="row" fxLayoutAlign="center center">
      <button color="accent" mat-raised-button (click)="signIn()">
        SIGN IN WITH GOOGLE
      </button>
    </div>
  </div>
</div>
