<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="login mat-elevation-z12">
    <mat-toolbar
      color="primary"
      class="login-header"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon>announcement</mat-icon>&nbsp;
      <h3>Authentication Required</h3>
    </mat-toolbar>
    <div class="login-content">
      <h3>
        <strong>Hey there Mobster</strong>
      </h3>
      <p>Please sign in with your Mobiquity account to view this content.</p>
    </div>
    <div class="auth-container" fxLayout="row" fxLayoutAlign="center center">
      <button color="primary" mat-raised-button (click)="signIn()">
        <i class="fab fa-google"></i> &nbsp; SIGN IN
      </button>
    </div>
  </div>
</div>
